html{
    font-size: 15;
}

p {
    color: blue;
}

dl {
    background-color: coral;
}

dt {
    background-color: cadetblue;
}

footer {
    color:red;
}

button {
    color: violet;
}

address {
    background-color: aqua;
}

table, tr, th, td, caption{
    border: 1px solid #8b4040;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
